@font-face {
	font-family: 'digital';
	src: url('./fonts/DS-Digital-Bold1.ttf');
}

@font-face {
	font-family: 'magistral';
	src: url('./fonts/MagistralC-Bold.otf');
}

* {
	margin: 0px;
	padding: 0px;
}

#top {
    display: flex;
	height: 35vh;
	justify-content: space-between;
}

#date, #time {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#dateText, #timeText {
	margin-top: 0.8vh;
	margin-left: 1.5vw;
	color: #181716;
	font-family: "Magistral C";
	line-height: 3vh;
}

#timeText {
	font-family: "Magistral C";
}

#dateTextUkr, #timeTextUkr {
	color: #181716;
}

#dateTextEng, #timeTextEng, #timeText {
	color: #B1B2B3;
}

#dateAndTime {
	margin-top: 1.5vh;
	margin-left: 2vw;
    width: 20vw;
    height: 18vh;
	border: 5px solid rgba(217, 218, 218, 0.4);    border-radius: 5px;
	box-shadow: 5px 7px 10px 3px rgba(24, 23, 22, 0.6);
}

#headerExchange {
	display: flex;
	flex-direction: column;
	margin-top: 1.6vh;
	margin-right: 2vw;
    width: 73vw;
	align-items: center;
	border: 5px solid rgba(217, 218, 218, 0.4);
	border-radius: 5px;
	box-shadow: 5px 7px 10px 3px rgba(24, 23, 22, 0.6);
}

#dateText, #timeText {
	font-family: 'magistral';
	font-size: 3.5vh;
}

#dateValue, #timeValue {
	font-family: 'digital';
	color: #50ae2f;
	font-size: 7.5vh;
	font-weight: 700;
	line-height: 8vh;
	padding-right: 1.2vh;
}

#headerExchange {
	font-family: 'magistral';
	text-transform: uppercase;
	font-weight: 700;
}

#exchangeUKR {
	font-size: 10vh;
	color: #003399;
	letter-spacing: 0.12em;
	line-height: 10.5vh;
}

#exchangeENG {
	font-size: 7vh;
	color: #b1b2b3;
}
#middle-center {
	display: flex;
	justify-content: flex-end;
}

#middle {
	display: flex;
	justify-content: space-around;
    width: 73vw;
	height: 10vh;
	margin-right: 2vw;
	box-shadow: 5px 7px 10px 3px rgba(24, 23, 22, 0.6);
	border: 5px solid rgba(217, 218, 218, 0.4);
	border-radius: 5px;
	margin-top: 2.7vh;
	display: flex;
}

#buy {
	color: #181716;
	font-family: "magistral";
	font-size: 7vh;
	display: flex;
	align-items: center;
}

#at {
	color: #b1b2b3;
	font-family: "magistral";
	font-size: 7vh;
	font-weight: 700;
	display: flex;
	align-items: center;
}

#main {
	display: flex;
	flex-direction: column;
}

#usd, #eur, #rub, #pln {
	display: flex;
	flex-direction: row;
}

.centerCurrencies {
	display: flex;
}

.symbolName {
	display: flex;
	align-items: center;
	color: #b1b2b3;
	font-family: "magistral";
	padding-top: 1vh;
	margin-left: 6vw;
	font-size: 6vh;
}

.currenciesNames {
	display: flex;
	width: 19vw;
	align-items: center;
	align-content: center;
	color: #003399;
	font-family: "magistral";
	font-size: 15vh;
	padding-top: 2.6vh;
	font-weight: 700;
	text-transform: uppercase;
}

.pricesLeft {
	color: #e6301f;
	font-family: "digital";
    font-size: 17vh;
    width: 27vw;
	font-weight: 700;
}

.pricesRight {
	color: #e6301f;
	font-family: "digital";
    font-size: 17vh;
	font-weight: 700;
}

.row {
	display: flex;
	margin-top: 5vh;
	margin-left: 2vw;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

#imgEUR {
    height: 17.8vh;
}

.images {
    width: 15vw;
    height: 15vh;
	box-shadow: 5px 7px 10px 3px rgba(24, 23, 22, 0.6);
	border: 5px solid #d9dada;
	border-radius: 5px;
}

.imagesCountry {
    width: 15vw;
}

.symbol {
    display: flex;
    width: 9vw;
	justify-content: center;
	align-items: center;
	align-content: center;
}
